<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body
    class="bg-content text-secondary font-f1Regular flex flex-col justify-between min-h-screen"
  >
    <%- include("components/layout/header") %>
    <div class="flex flex-col md:flex-row justify-around items-baseline p-8">
      <%if(teams.length > 0){ %>
      <div id="standings" class="md:max-h-96 my-4 rounded-md w-full md:w-5/12">
        <p class="text-lg font-medium">Global Top 5 Teams:</p>
        <% for(let i = 0; i < teams.length; i++){ %>
        <a href="/team/<%=teams[i].teamId%>">
          <div
            id="<%=teams[i].teamId %>"
            class="flex justify-between w-full hover:bg-secondary-focus hover:text-content hover:cursor-pointer rounded-sm shadow-sm p-2 text-lg gap-2"
          >
            <div class="flex justify-between w-full">
              <div class="flex gap-4">
                <p><%=i+1%></p>
                <p><%= teams[i].teamName %></p>
              </div>
              <p
                class="text-xs rounded-full bg-base-100 p-2 text-center text-secondary"
              >
                <%= teams[i].score %> PTS
              </p>
            </div>
            <p class="text-primary">></p>
          </div>
        </a>
        <% if(i >=5){break;} %> <%} %>
      </div>
      <%}else{ %>
      <div id="empty" class="md:max-h-96 my-4 rounded-md w-full md:w-5/12">
        <div class="w-full bg-content shadow-sm p-2 text-lg">No teams yet!</div>
      </div>
      <%} %> <% if(!hasTeam){ %>
      <div class="md:flex md:flex-col md:justify-center w-full md:w-5/12">
        <a href="/team/create" class="mx-auto">
          <div
            class="bg-primary text-content hover:cursor-pointer hover: font-bold py-2 px-6 rounded border-primary border-2 hover:bg-content hover:text-secondary"
          >
            Create Team
          </div>
        </a>
      </div>
      <% }else{ %>
      <div class="my-8 rounded-md md:w-5/12 w-full" id="personalTeam">
        <div class="flex justify-between">
          <p class="text-lg font-medium"><%= team.teamName %>:</p>
          <p class="text-sm font-medium mb-0"><%= team.score %> total points</p>
        </div>
        <% for(let i = 0; i < members.length; i++){ %>
        <a href="/pilot/<%= members[i].permanentNumber %>">
          <div
            id="<%= members[i].permanentNumber %>"
            class="flex justify-between w-full hover:bg-secondary-focus hover:text-content hover:cursor-pointer rounded-sm shadow-sm p-2 text-lg gap-2"
          >
            <div class="flex justify-between w-full text-lg">
              <div class="flex justify-between items-baseline gap-1">
                <p class="font-f1Regular text-sm"><%= members[i].givenName%></p>
                <p class="font-f1Bold"><%= members[i].familyName %></p>
              </div>
              <p
                class="text-xs rounded-full bg-base-100 p-2 text-center text-secondary"
              >
                <%= teamPilotsScore[members[i].permanentNumber] %> PTS
              </p>
            </div>
            <p class="text-primary">></p>
          </div>
        </a>
        <% } %>
        <a href="/team">
          <div
            class="bg-primary text-content hover:cursor-pointer py-2 px-6 rounded border-primary border-2 hover:bg-content hover:text-secondary w-fit h-auto mt-2"
          >
            Details
          </div>
        </a>
      </div>

      <%} %>
    </div>
    <%- include("components/layout/footer") %>
  </body>
</html>
