<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body
    class="bg-secondary text-content flex flex-col justify-between min-h-screen"
  >
    <%- include("components/layout/header") %>
    <div class="flex flex-col md:flex-row justify-around items-baseline p-8">
      <%if(teams.length > 0){ %>
      <div id="standings" class="md:max-h-96 my-4 rounded-md w-full md:w-5/12">
        <p class="text-lg font-medium">Global Top 5 Teams:</p>
        <% for(let i = 0; i < teams.length; i++){ %>
        <div
          id="<%=teams[i].teamId %>"
          class="flex justify-between w-full bg-secondary-focus shadow-sm p-2 text-lg font-bold border-2 border-secondary-focus"
        >
          <p><%= teams[i].teamName %></p>
          <p class="text-sm"><%= teams[i].score %> points</p>
        </div>
        <% if(i >=5){break;} %> <%} %>
      </div>
      <%}else{ %>
      <div id="empty" class="md:max-h-96 my-4 rounded-md w-full md:w-5/12">
        <div
          class="w-full bg-secondary-focus shadow-sm p-2 text-lg font-bold border-2 border-secondary-focus"
        >
          No teams yet!
        </div>
      </div>
      <%} %> <% if(!hasTeam){ %>
      <div class="md:flex md:flex-col md:justify-center w-full md:w-5/12">
        <a href="/team/create" class="mx-auto">
          <div
            class="text-center md:w-fit bg-primary hover:cursor-pointer hover:bg-opacity-80 font-bold py-2 px-4 rounded"
          >
            Create Team
          </div>
        </a>
      </div>
      <% }else{ %>
      <div class="max-h-96 my-8 rounded-md md:w-5/12 w-full" id="personalTeam">
        <div class="flex justify-between">
          <p class="text-lg font-medium"><%= team.teamName %>:</p>
          <p class="text-sm font-medium mb-0"><%= team.score %> total points</p>
        </div>
        <% for(let i = 0; i < members.length; i++){ %>
        <a href="/pilot/<%= members[i].permanentNumber %>">
          <div
            id="<%= members[i].permanentNumber %>"
            class="flex justify-between relative bg-secondary-focus shadow-sm p-4 text-lg font-bold border-2 border-secondary-focus"
          >
            <div class="flex justify-between items-baseline">
              <p class="font-f1Regular text-sm"><%= members[i].givenName%></p>
              <p class="font-f1Bold"><%= members[i].familyName %></p>
            </div>
            <p class="text-sm">
              <%= teamPilotsScore[members[i].permanentNumber] %> points
            </p>
          </div>
        </a>
        <% } %>
      </div>

      <%} %>
    </div>
    <%- include("components/layout/footer") %>
  </body>
</html>
